astroid==2.4.2
attrs==20.3.0
Automat==20.2.0
bleak==0.10.0
constantly==15.1.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.4
Pillow==8.0.1
PyHamcrest==2.0.2
pylint==2.6.0
six==1.15.0
toml==0.10.2
Twisted==20.3.0
txdbus==1.1.2
wrapt==1.12.1
zope.interface==5.2.0
